{% extends "../layout.njk" %}
{% block content %}
  <div class="chef" id="{{ chef.id }}">
    <div class="same-line">
      <h1>Editando receita</h1>
    
      <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id" value={{chef.id}}>
        <button type="submit">Deletar</button>
      </form>

    </div>

    <form method="POST" action="/admin/chefs?_method=PUT">
      <input type="hidden" name="id" value={{chef.id}}>
      <button type="submit" class="right">Salvar Chef</button>
      {% include 'admin/chefs/fields.njk' %}
    </form>
  </div>
{% endblock %}