<div class="chef__section" id="name">
  <h2>Nome</h2>
  <input type="text" name="name" placeholder="Nome do Chef" value="{{ chef.name }}">
</div>
<div class="chef__section" id="avatar_url">
  <h2>Avatar url</h2>
  <input type="text" name="avatar_url" placeholder="http://" value="{{ chef.avatar_url }}">
</div>