<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Foodfy</title>
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="/styles.css">
  </head>

  </head>

  <body>
    <div class="content">
    <header>
      <div class="links">
        <div class="logo">
          <a href="/">
              <img src="/foodassets/logo.png">
          </a>
        </div>
        <a href="/about" id = "about_id" >Sobre</a>
        <a href="/receitas" id = "receitas_id" >Receitas</a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
    </div>
  </body>
</html>