{% extends "layout.njk" %}

{% block content %}

<div class="recipe" id="{{item.id}}">

  <div class="recipe__recipe-container">
    <img src="{{item.image}}" alt="{{item.title}}">
  </div>

  <div id="recipe_title">
    <h1>{{ item.title }}</h1>
  </div>

  <div id="recipe__author">
    <p>por {{ item.author }}</p>
  </div>

  <div class="recipe__section" id="in">
    <div class="sameline">
      <h2>Ingredientes</h2>
      <div class="button">
        <span>ESCONDER</span>
      </div>
    </div>
    <div class="ingredients__content">
        <ul>
      {% for it in item.ingredients %}
      <li> {{ it }} </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="recipe__section" id="pr">

    <div class="sameline">
      <h2>Modo de preparo</h2>
      <div class="button">
        <span>ESCONDER</span>
      </div>
    </div>
    <div class="preparation__content">
      <ul>
      {% for it in item.preparation %}
      <li> {{ it }} </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="recipe__section" id="info">

    {% if item.information != '' %}
      <div class="sameline">
            <h2>Informações adicionais</h2>
        <div class="button">
            <span>ESCONDER</span>
          </div>
      </div>
      <div class="information__content">
        <p>{{ item.information }}</p>
      </div>
    {% endif %}
  </div>

</div>

{% include "links.njk" %}
{% endblock %}