{% extends "./layout.njk" %}

{% block content %}
  <div class="same-line">
    <div class="admin-title">
      <h1>Gerenciar receitas</h1>
    </div>
    <a href="/admin/recipes/create" class="button">Nova Receita</a>
  </div>
  <section class="cards-manager">
    {% for recipe in recipes %}
      <div class="cardRecipeManager">
        <div class="card__image-container-manager">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </div>
        <div class="card_texts">
          <div class="card__title">
            <p>{{ recipe.title }}</p>
          </div>
          <div class="card__chef_name">
            <p>{{ recipe.chef_name }}</p>
          </div>
          <div class="visualizer" id="{{ recipe.id }}">
            <p>Visualizar</p>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}



