@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --primary-color: #6558c3;
  --color-light-purple: #7159c1;
  --color-green: #50fa7b;
  --color-red: #dc4747;
  --color-cream: #fbdfdb;
  --color-black: #111111;
  --color-black-bottom: #333;
  --color-gray: #444444;
  --color-light-brown: #555;
  --color-inter-gray: #999999;
  --color-light-gray: #eeeeee;
  --color-light-gray-alpha: rgba(255, 255, 255, 0.8);
  --color-soft-brown: #ddd;
  --border-radius: 25px;
}

html {
  zoom: 80%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background: black;
  color: black;
  font-family: "Roboto", sans-serif;
}

textarea,
input,
select {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  font-family: inherit;
}

.inner-body {
  background-color: white;
  padding-left: 230px;
  padding-right: 230px;
  min-height: 100vh;
  padding-bottom: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.body-content-admin {
  background-color: white;
  min-height: 100vh;
  padding-bottom: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.admin_content {
  padding-left: 230px;
  padding-right: 230px;
}

header {
  border-bottom: 3px solid var(--color-black-bottom);
  background: white;
  max-width: 940px;
}

header.admin {
  background: black;
  padding-left: 230px;
  border-bottom: none;
  max-width: 100% !important;
}

footer {
  width: 100%;
  margin: 60px 0;
  padding-top: 20px;
  height: 40px;
  background: var(--color-light-gray);
  max-width: 940px;
  text-align: center;
  opacity: 1;
  color: var(--color-inter-gray);
}

footer p {
  font-size: 14px;
  line-height: 16px;
}

.content-block {
  margin-top: 25px;
}

.content-block span {
  font-weight: bold;
  margin: auto;
  display: table;
}

.links {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 6fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  height: 80px;
}

.links.admin {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 6fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  height: 80px;
  padding-right: 230px;
}

.links input {
  margin-top: 0;
}

.logo {
  margin-right: auto;
}

.filter_container {
  display: inline-flex;
  flex-direction: row;
  margin-left: auto;
}

.links a {
  color: black;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

header.admin .links a {
  font-size: 12px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-inter-gray);
  cursor: pointer;
}

header.admin .links a.active {
  color: white;
  font-weight: bold;
}

.links a.active {
  font-weight: bold;
}

.links a:hover {
  color: var(--color-green);
  transition: color 2200ms;
}

.banner {
  width: 940px;
  height: 366px;
  position: relative;
  top: 0;
  opacity: 1;
  background-color: var(--color-cream);
  margin: 5vh 0;
  border-radius: 50px;
}

#banner_img {
  padding-top: 66px;
  padding-left: 624px;
  border-radius: 5%;
  height: 300px;
  width: 216px;
  position: absolute;
}

#banner_text {
  position: absolute;
}

#banner_text h1 {
  padding-top: 117px;
  padding-left: 60px;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

#banner_text p {
  padding-top: 10px;
  padding-left: 60px;
  font: size 18px;
  line-height: 28px;
  width: 316px;
  font-weight: regular;
}

.paragraphs p {
  font-size: 18px;
  line-height: 28px;
  font-weight: regular;
  color: var(--color-gray);
  padding-top: 20px;
}

.paragraphs h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.paragraphs h2 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

#wrapper {
  text-align: left;
}

.recipe img {
  border-radius: var(--border-radius);
}

#recipe_title h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--color-black);
  padding-top: 25px;
}

#recipe_title h2 {
  text-align: center;
  color: var(--color-black);
  padding-top: 25px;
}

.recipe__section .title_button_container {
  display: inline-flex;
}

.same-line {
  padding-top: 16px;
  margin-top: 2vh;
  display: flex;
  justify-content: flex-end;
}

.same-line h1,
h2 {
  font-size: 24px;
  justify-self: flex-start;
  margin-right: auto;
}

.same-line .admin-title {
  margin-top: 0;
}

.chef__section,
.recipe__section {
  margin-top: 25px;
}

.chef__section h2,
.recipe__section h2,
.title_button_container h2,
.same-line h2 {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black);
}

/*button */
.recipe__section .title_button_container .button span {
  font-size: 12px;
  line-height: 28px;
  color: var(--color-inter-gray);
  padding-left: 20px;
  padding-top: 20px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: bottom;
}

.recipe__section li {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);
}

ul {
  list-style: none;
  padding-top: 15px;
}

ul li::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.ingredients__content {
  visibility: visible;
  display: unset;
}

.ingredients__content.inactive {
  display: none;
  /*visibility: hidden;*/
}

.preparation__content {
  visibility: visible;
  display: unset;
}

.preparation__content.inactive {
  display: none;
}

.information__content {
  visibility: visible;
  display: unset;
  white-space: pre-line;
}

.information__content.inactive {
  display: none;
}

.recipe__section p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);
}

.information__content p {
  padding-top: 25px;
}

#recipe__chef_name {
  padding-top: 4px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--color-gray);
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 35px;
  height: 200px;
}

#wrapper h1,
.admin-title h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 320px;
  margin: 32px auto;
  font-size: 24px;
}

#wrapper p a {
  color: var(--color-green);
}

/*==== CARDS ====*/
.cards,
.allcards {
  max-width: 940px;
  margin: 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 25px;
  grid-auto-rows: min-content;
  height: fit-content;
}

.cards-manager {
  max-width: 940px;
  margin: 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 25px;
}

.cardRecipeManager {
  display: grid;
  grid-template-columns: 172px 1fr;
  gap: 20px;
  padding-top: 5px;
}

.chef_card,
.card,
.cardRecipe {
  cursor: pointer;
  overflow: hidden;
}

.card__image-container img {
  object-fit: cover;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.card__image-container-manager img {
  object-fit: cover;
  width: 172px;
  height: 80px;
  border-radius: 10px;
}

.chef_card__visualizer_public,
.chef_card__visualizer,
.chef_card__chef_name,
.card__title,
.card__chef_name,
.visualizer {
  padding: 4px;
}

.card__chef_name {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}

.admin-title {
  margin-top: 5vh;
}

.chef_card__visualizer_public,
.chef_card__visualizer,
.visualizer {
  font-size: 14px;
  color: var(--color-light-purple);
  cursor: pointer;
  font-weight: bold;
}
.chef_cards,
.chef_cards-manager {
  max-width: 940px;
  margin: 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 25px;
  grid-auto-rows: min-content;
  height: fit-content;
}

.chef_card,
.chef_card-manager {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  padding-top: 5px;
}

.chef_card__image-container img,
.chef_card__image-container-manager img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 22px;
  padding-top: 5px;
}

.chef__big_image-container img {
  object-fit: cover;
  width: 245px;
  height: 245px;
  border-radius: 122px;
  padding-top: 5px;
}

.chef_picture_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  margin: 25px auto;
}

#chef__name {
  text-align: center;
}

#chef__recipes_per_chef {
  text-align: center;
}

#chef__recipes_per_chef_list {
  text-align: left;
  padding-left: 4px;
}

button[type="submit"],
a.button {
  padding: 8px 24px;
  background-color: var(--primary-color);
  border-radius: 4px;
  width: auto;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

button[type="submit"][disabled] {
  background-color: var(--color-inter-gray);
  cursor: not-allowed;
}

.button_tooltip_container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.button_tooltip_container .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.button_tooltip_container:hover .tooltip_text.active {
  visibility: visible;
}

.right {
  display: flex;
  justify-content: flex-end;
}

button[form="form-delete"] {
  background-color: var(--color-red);
  margin-right: 10px;
}
button[form="form-put"] {
  background-color: var(--primary-color);
}

/* FORM */
input,
select,
textarea {
  width: 100%;
  outline: none;
  font-size: 16px;
  color: var(--color-light-brown);
  margin-top: 10px;
  border: 1px solid var(--color-soft-brown);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

textarea {
  resize: none;
  height: 200px;
  line-height: 28px;
}

.add-ingredient,
.add-step {
  color: var(--primary-color);
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}

/* pagination */
.pagination {
  display: flex;
  margin: 60px 0;
  padding-top: 20px;
  max-width: 940px;
  align-items: center;
  justify-content: center;
}

.pagination a,
.pagination span {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--primary-color);
}

.page_in_use {
  font-weight: bold;
}

#photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius);
  min-height: 120px;
  box-sizing: border-box;
}

input[type="file"]::file-selector-button {
  cursor: pointer;
}

#photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#photos-preview-and-upload {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 8px;
  width: 100%;
  margin: 8px 0;
  min-height: 100px;
}

#photos-preview-and-upload img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

#photos-preview-and-upload .photo {
  position: relative;
}

#photos-preview-and-upload .photo i {
  color: red;
  opacity: 0;
  background: var(--color-light-gray-alpha);
}

#photos-upload i {
  color: var(--color-inter-gray);
  pointer-events: none;
}

.photo i,
#photos-upload i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  cursor: pointer;
  transition: opacity 200ms;
}

#photos-preview-and-upload .photo:hover i {
  opacity: 1;
}
