@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
  --color-principal: #333;
  --color-light-cream: #eeeeee;
  --color-light-gray: #999999;
  --color-light-red: #fbdfdb;
  --color-black: #111111;
  --color-inter-gray: #444444;
  --color-lighter-gray: #777777;
}

html {
  zoom: 80%;
}

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  max-width: 1400px;
  margin: 0 230px;
  background: black;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.content {
  background-color: white;
  padding-left: 230px;
  padding-right: 230px;
  max-width: 1400px;
}

header {
  padding-top: 30px;
  border-bottom: 3px solid var(--color-principal);
  background: white;
  max-width: 940px;
}

footer {
  margin: 60px 0;
  padding-top:20px;
  height: 40px;
  background: var(--color-light-cream);
  max-width: 940px;
  text-align: center;
  opacity: 1;
  color: var(--color-light-gray);
}

footer p {
  font-size: 14px;
  line-height: 16px;
}

.links {
  display: grid;
  max-width: 450px;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0px 0px;
}

.links a {
  color: black;
  font-size: 16px ;
  line-height: 26px;
  padding-bottom: 35px;
  text-decoration: none; /*removes underline*/
}

.links a:hover {
  color: var(--color-green);
  transition: color 2200ms;
}

.banner {
  width:940px;
  height: 366px;
  position:relative;
  top: 0;
  opacity: 1;
  background-color: var(--color-light-red);
  margin: 5vh 0;
  border-radius: 50px;
}

#banner_img {
  padding-top: 66px;
  padding-left: 624px;
  border-radius: 5%;
  height: 300px;
  width:216px;
  position:absolute;
}

/* absolute allows right side img to not go down*/
#banner_text {
  position:absolute;
}

#banner_text h1 {
  padding-top: 117px;
  padding-left:60px;
  font-size: 32px;
  line-height:38px;
  font-weight: bold;
}

#banner_text p {
  padding-top: 10px;
  padding-left: 60px;
  font: size 18px;
  line-height:28px;
  width: 316px;
  font-weight: regular;
}

.paragraphs p {
  font-size:  18px;
  line-height:28px;
  font-weight: regular;
  color: var(--color-inter-gray);
  padding-top:20px;
}

.paragraphs h1 {
  padding-top:20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.paragraphs h2 {
  padding-top:20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

#wrapper {
  text-align: left;
}

.recipe img {
  margin-top: 35px;
  border-radius: 25px;
}

#recipe_title h1 {
  font-size:36px;
  line-height:42px;
  text-align: center;
  color: var(--color-black);
  padding-top: 25px;
}


.recipe__section .sameline {
  padding-top: 25px;
  display: inline-flex;
}

.recipe__section h2 {
  font-size:24px;
  line-height:28px;
  color: var(--color-black);
  /*padding-top: 20px;*/
}

/*button */

.recipe__section .sameline .button span {
  font-size:12px;
  line-height:28px;
  color: #999999;
  padding-left:20px;
  /*padding:30px 20px 0px 50px;*/
  font-weight: bold; /* If you want it to be bold */
  cursor: pointer;
}

.recipe__section li {
  font-size:18px;
  line-height:28px;
  color: var(--color-lighter-gray);
  /*margin-left: 20px;*/
}

ul {
  list-style: none; /* Remove default bullets */
  padding-top: 15px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black;
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.ingredients__content {
visibility: visible;
display:unset;
}

.ingredients__content.inactive {
  display:none;
  /*visibility: hidden;*/
}

.preparation__content {
  visibility: visible;
  display:unset;
  }

.preparation__content.inactive {
    display:none;
}

.information__content {
  visibility: visible;
  display:unset;
  }

.information__content.inactive {
    display:none;
}

.recipe__section p {
  font-size:18px;
  line-height:28px;
  color: var(--color-lighter-gray);
  padding-top: 25px;
}

#recipe__author {
  padding-top: 4px;
  font-size:20px;
  line-height:24px;
  text-align: center;
  color: var(--color-lighter-gray);
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 35px;
  height: 200px
}

#wrapper h1 {
  font-size:24px;
  line-height:28px;
  font-weight: bold;
}

#wrapper h2 {
  font-size:24px;
  line-height:34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 320px;
  margin: 32px auto; /* 1st side, 2nd lateral */
  font-size: 24px;
}

#wrapper p a {
  color: var(--color-green);
}

/*==== CARDS ====*/
.cards,
.allcards {
  max-width: 940px; /* was not respected */
  margin: 0 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 25px;
}

.card, .cardRecipe {
   /* background-color: var(--color-rocket);*/
  cursor: pointer;
  overflow: hidden;
}

.card__image-container img {
  object-fit: cover;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.card__content,
.card__info {
  padding: 4px;
}

.card__info {
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}