{% extends "../layout.njk" %}
{% block content %}
  <div>
  <section class="chef_cards">
    {% for chef in chefs %}
      <div class="chef_card" id="{{ chef.id }}">
        <div class="chef_card__image-container">
          <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
        </div>
        <div class="chef_card__texts">
          <div class="chef_card__chef_name">
            <p>{{ chef.name }}</p>
          </div>
          <div id="chef__recipes_per_chef_list">
            <p>{{ chef.chef_recipes_total }}
              {% if chef.chef_recipes_total == 1 %}
                receita {% else %} receitas
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
  <div class="pagination" data-page={{ pagination.page }} data-total={{ pagination.total }}></div>
  {% include "links.njk" %}
  </div>
{% endblock %}