{% extends "../layout.njk" %}
{% block content %}
<div class="admin_content">
  <div class="recipe" id="{{ recipe.id }}">
    <div class="same-line">
      <h1>Editando receita</h1>
      <button type="submit" form="form-delete">Deletar</button>
      <button type="submit" form="form-put">Salvar receita</button>
    </div>
    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
      <input type="hidden" name="id" value={{recipe.id}}>
    </form>
    <form id="form-put" action="/admin/recipes?_method=PUT" method="POST">
      <input type="hidden" name="id" value={{recipe.id}}>
      {% include 'admin/recipes/fields.njk' %}
    </form>
  </div>
</div>
{% endblock %}