{% extends "layout.njk" %}

{% block content %}

<section class="paragraphs">

  <h1>{{ about.title_h1 }}</h1>
  <p>{{ about.parag_1 }}</p>
  <p>{{ about.parag_2 }}</p>

  <h2>{{ about.title_h2_1 }}</h2>
  <p>{{ about.parag_1 }}</p>
  <p>{{ about.parag_2 }}</p>

  <h2>{{ about.title_h2_2 }}</h2>

  <p>{{ about.parag_2 }}</p>

</section>

{% endblock %}