{% extends "layout.njk" %}

{% block content %}

    <div class="banner">
      <div id="banner_text">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <div id="banner_img">
        <img src="layassets/119236-OQ05QX-268.png" alt="Noel">
      </div>
    </div>

    <div id="wrapper">
      <h1>Mais acessadas</h1>
    </div>

    <section class="cards">
      {% set x = -1 %}
      {% for item in items %}
      {% set x = x + 1 %}
        <div class="cardRecipe" id="{{x}}">
          <div class="card__image-container">
            <img src="{{item.image}}" alt="{{item.title}}">
          </div>
          <div class="card__title">
            <p>{{item.title}}</p>
          </div>
          <div class="card__author">
            <p>{{item.author}}</p>
          </div>
        </div>
      {% endfor %}
    </section>

    {% include "links.njk" %}

{% endblock %}

