<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Foodfy</title>
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="inner-body">
    <header>
      <div class="links">
        <div class="logo">
          <a href="/index">
              <img src="/foodassets/logo.png">
          </a>
        </div>
        <a href="/about" id = "about_id" >Sobre</a>
        <a href="/recipes" id = "recipes_id" >Receitas</a>
        <a href="/chefs" id = "chefs_id" >Chefs</a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
    </div>
    <script src="/scripts.js"></script>
  </body>
</html>