{% extends "layout.njk" %}
{% block content %}
  <section class="allcards">
    {% for recipe in recipes %}
      <div class="cardRecipe" id="{{ recipe.id }}">
        <div class="card__image-container">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </div>
        <div class="card__title">
          <p>{{ recipe.title }}</p>
        </div>
        <div class="card__chef_name">
          <p>{{ recipe.chef_name }}</p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}